
$white: #e0dede;
$white20: rgba(190, 188, 188, 0.148);
$dark: rgb(221, 221, 221);
$main-gradient: linear-gradient(315deg, #c4b444, #003230);
$topic__item_active: #906045;
$true-answer: linear-gradient(270deg, #012c018f, #012c018f);
$false-answer: linear-gradient(270deg, #790a0ab6, #790a0ab6);

// a05f3a